<section>
  <h3> {{i18n "category.qa_settings_label"}}</h3>

  <section class='field'>
    <label>
      {{input type="checkbox" checked=category.custom_fields.qa_enabled}}
      {{i18n 'category.enable_qa'}}
    </label>
  </section>

  <section class='field'>
    <label>
      {{input type="checkbox" checked=category.custom_fields.qa_one_to_many}}
      {{i18n 'category.qa_one_to_many'}}
    </label>
  </section>

  <section class='field'>
    <label>
      {{input type="checkbox" checked=category.custom_fields.qa_disable_like_on_answers}}
      {{i18n 'category.qa_disable_like_on_answers'}}
    </label>
  </section>

  <section class='field'>
    <label>
      {{input type="checkbox" checked=category.custom_fields.qa_disable_like_on_questions}}
      {{i18n 'category.qa_disable_like_on_questions'}}
    </label>
  </section>

  <section class='field'>
    <label>
      {{input type="checkbox" checked=category.custom_fields.qa_disable_like_on_comments}}
      {{i18n 'category.qa_disable_like_on_comments'}}
    </label>
  </section>
  
  <section class='field'>
    <label>
      {{input type="checkbox" checked=category.custom_fields.qa_disable_bottom_votes}}
      {{i18n 'category.qa_disable_bottom_votes'}}
    </label>
  </section>

</section>
